{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Учебный сервис</title>
    <link rel="stylesheet" href="{% static 'education_app/css/main.css' %}">
</head>
<body>
    <header>
      <div class="container">
      <h1>Мой учебный сервис</h1>
      <nav>
        <a href="{% url 'home' %}">Главная</a> |
        <a href="{% url 'word_list' %}">Слова</a> |
        <a href="{% url 'word_add' %}">Добавить слово</a> |
        <a href="{% url 'lesson_list' %}">Уроки</a> |
        <a href="{% url 'lesson_add' %}">Создать урок</a>
      </nav>
      </div>
    </header>

    <main class="container content">
        {% block content %}
        {% endblock %}
    </main>


    <footer>
        <div class="container">
        <p>© 2025 Учебный проект</p>
        </div>
    </footer>
</body>
</html>
